<footer>
    <div class="footer-content">
        <div class="legend-text-centered">
            <p>Don't Let Hidden Dependencies Derail Your Next Release.
Brew is the easiest, smartest way to keep your codebase healthy and your team moving forward.</p>
            <div class="footer-form flex-direction">
                <input type="email" id="emailInput" placeholder="Enter Email address" class="footer-input">
                <button onclick="sendToSlack()" class="button footer-button">Join Waitlist</button>
            </div>
        </div>
    </div>
</footer>
